#trends{
    width: 93%;
    height: 100px;
    background: linear-gradient(black, hotpink);
    color:white;
    text-align:center;
    padding: 60px ;
}
a{
    text-decoration: none;
}
#details{
    width:90%;
    height: 20px;
    background-color:bisque;
    padding: 30px 80px;
    text-align:center;
}
#marque{
    width: 101%;
    height:40px;
    background-color:rgb(200, 67, 133);
    padding: 15px 0px 15px 0px;
    color:white;
    font-size:20px;
    font-weight: bold;
}
#pic{
    height:500px;
    width:100%;
    margin:0px;
    border-radius:0px;
}
#women,#men,#kids{
    width: 100%;
    height:450px;
    color:white;
    background-color:black;
    border-radius:5%;
}
img{
    width:16%;
    height:300px;
    border-radius:30px;
    border:5px solid white;
    margin:22px;
}
#table{
    width: 100%;
    height:300px;
    color:white;
    background-color:black;
    
}
th{
    background-color:black;
    border:2px solid black;
}
table{
    height:200px;
    width:96%;
    background-color:black;
    margin: 22px;
}
td{
    background-color:white;
    color:black;
    border: 2px solid black;
    border-collapse:collapse;
    padding-left:10px;
}
#fashion{
    background-color:bisque;
    height:70px;
    padding-top:10px;
    font-size:40px;
}
footer{
    width:100%;
    height:40px;
    background-color:black;
    color:white;
    font-weight: bold;
    font-size:20px;
    text-align:center;
    padding:20px;
}